<table>
    <thead>
        <tr>
            <th rowspan="2">Toppings</th>
            <th colspan="4">Pizza Size</th>
        </tr>
        <tr>
            <th>Small($5)</th>
            <th>Medium($7)</th>
            <th>Large($8)</th>
            <th>Extra Large($9)</th>
        </tr>
        <tr>
            <th>Quantity</th>
            <td><input type="number" min="0" [(ngModel)]="quantity.small"></td>
            <td><input type="number" min="0" [(ngModel)]="quantity.medium"></td>
            <td><input type="number" min="0" [(ngModel)]="quantity.large"></td>
            <td><input type="number" min="0" [(ngModel)]="quantity.extraLarge"></td>
        </tr>
        <tr>
            <th colspan="5">Veg Toppings</th>
        </tr>
        <tr *ngFor="let topping of vegToppings">
            <th>{{ topping.name }}</th>
            <td><input type="checkbox" [(ngModel)]="topping.small"></td>
            <td><input type="checkbox" [(ngModel)]="topping.medium"></td>
            <td><input type="checkbox" [(ngModel)]="topping.large"></td>
            <td><input type="checkbox" [(ngModel)]="topping.extraLarge"></td>
        </tr>
        <tr>
            <th colspan="5">Non Veg Toppings</th>
        </tr>
        <tr *ngFor="let topping of nonVegToppings">
            <th>{{ topping.name }}</th>
            <td><input type="checkbox" [(ngModel)]="topping.small"></td>
            <td><input type="checkbox" [(ngModel)]="topping.medium"></td>
            <td><input type="checkbox" [(ngModel)]="topping.large"></td>
            <td><input type="checkbox" [(ngModel)]="topping.extraLarge"></td>
        </tr>
        <tr>
            <th colspan="5">Total</th>
        </tr>
        <tr>
            <th>Offer</th>
            <td>N/A</td>
            <td>{{ getOfferMedium() }}</td>
            <td>{{ getOfferLarge() }}</td>
            <td>N/A</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ calculateSmallTotal() | currency }}</td>
            <td>{{ calculateMediumTotal() | currency }}</td>
            <td>{{ calculateLargeTotal() | currency }}</td>
            <td>{{ calculateExtraLargeTotal() | currency }}</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>